::-webkit-scrollbar {
    display: none;
}

body {
    min-height: 100vh;
    width: 100vw;
	padding-top: 70px;
	font-family: 'Lilita One';
    overflow-x: hidden;
	-webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.collapse-body-right {
    margin-left: 266px;
}

.collapse-body-right nav.navbar-default {
    margin-left: 266px;
}

.collapse-body-left {
    margin-left: -266px;
}

.collapse-body-left nav.navbar-default {
    margin-left: -266px;
}

nav.navbar-default {
	background: #06c;
	height: 70px;
	width: 100%;
    border: none;
	-webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

a.navbar-brand {
    padding: 5px 0;
}

a.navbar-brand .brand-small {
    margin-left: 10px;
    height: 60px;
}

#desktop-menu {
	display: none;
	float: right;
    padding-top: 17px;
}

#desktop-menu li {
    float: left;
    list-style: none;
    text-transform: uppercase;
    font-size: 24px;
    padding: 0 10px;
}

#desktop-menu a,
.header-controls a {
	color: #fff;
}

a:hover,
a:focus {
	text-decoration: none;
}

div.header-controls {
	float: right;
    padding: 15px 0;
}

.header-controls a {
	float: right;
    border-right: dashed 1px #fff;
    height: 40px;
}

.header-controls a:first-child {
    border-right: none;
}

.header-controls a i {
    padding: 12px 24px;
}

#side-menu {
	background: url('../img/menu-bg.png');
    font-family: 'Roboto', sans-serif;
    width: 266px;
    position: fixed;
    top: 0;
    margin-left: -266px;
    z-index: 1030;
    height: 100%;
    overflow: auto;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#side-menu-right {
    background: url('../img/menu-bg.png');
    font-family: 'Roboto', sans-serif;
    width: 266px;
    position: fixed;
    top: 0;
    right: -266px;
    z-index: 1030;
    height: 100%;
    overflow: auto;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#side-menu-right h3 {
    padding: 20px;
    color: white;
    margin-top: 0;
    margin-bottom: 10px;
}

#side-menu-right h3{
    font-family: 'Lilita One';
    font-size: 1.7em;
    text-transform: uppercase;
    font-weight: normal;
}

#side-menu-right li > a {
    padding: 0;
    text-align: center;
}

#side-menu-right .img-buzo {
    width: 65%;
    display: inline-block;
    padding: 0;
}

.collapse-body-left #side-menu-right {
    right: 0;
}

#side-menu div.overlay,
#side-menu-right div.overlay {
    background: #2b2b2b url('../img/home-about-overlay.png') 0 0 repeat;
    height: inherit;
    position: fixed;
    width: inherit;
    z-index: -1;
}

#side-menu img,
#side-menu-right img {
	padding-left: 14px;
}

.hr {
    margin-bottom: 0;
    height: 30px;
    background: #191b1c;
    border: none;
}

.sidebar-navigation {
	padding: 0;
}

.sidebar-navigation li,
.dropdown-menu>li>a {
    display: block;
    list-style: none;
    line-height: 60px;
    border-bottom: solid 1px rgba(255,255,255,0.05);
    margin-bottom: 0px;
    display: inline-block;
    width: 100%;
}

.sidebar-navigation li a {
	color: #fff;
	padding: 0 20px;
	display: block;
	padding: 0 29px 0 32px;
	border-bottom: solid 1px rgba(0,0,0,0.2);
}

.sidebar-navigation li a > i {
	padding-right: 20px;
    font-size: 16px;
    color: #bcbdbd;
}

.sidebar-navigation li span {
    float: right;
}

.sidebar-navigation li span i {
    font-size: 8px;
	-webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

li.open span i {
    color: #c0392b;
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

li ul.dropdown-menu {
    position: inherit;
    background: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

li ul.dropdown-menu li {
	visibility: hidden;
	height: 0px;
	-webkit-transition: all .45s ease;
    -moz-transition: all .45s ease;
    -ms-transition: all .45s ease;
    -o-transition: all .45s ease;
    transition: all .45s ease;
}

li.open ul.dropdown-menu li {
	visibility: visible;
	height: initial;
}

#side-menu li a:focus,
#side-menu li a:hover,
#side-menu-right li a:focus,
#side-menu-right li a:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgba(255,255,255,0.05);
}

ul.dropdown-menu {
    max-height: 0px;
    overflow: hidden;
    transition: all 250ms ease;
    display: block;
}

.open ul.dropdown-menu {
    max-height: 480px;
    transition: all 450ms ease;
}

.dropdown-menu > li > a {
    font-size: 11px;
    padding-left: 75px !important;
    color: #7e7e7e !important;
}


.menu-wrapper {
    text-align: center;
    padding: 20px;
    margin: auto;
    width: 100%;
    top: 70px;
    border-bottom: solid 4px #032F70;
    position: fixed;
    background: #fff;
    z-index: 2;
    -webkit-transition: all 1.45s ease;
    -moz-transition: all 1.45s ease;
    -ms-transition: all 1.45s ease;
    -o-transition: all 1.45s ease;
    transition: all 1.45s ease;
}

.menu-wrapper.hiddendino {
    top: -350px;
}

#dinos-wrapper {
    margin: auto;
}

#dinos-wrapper .container > div span {
    display: block;
}

.menu-wrapper em {
    margin-top: 10px;
    margin-bottom: -10px;
    display: block;
    font-size: 13px;
    color: #666;
    font-style: normal;
    font-family: 'Source Sans Pro',sans-serif;
}

.menu-wrapper em i {
    padding-right: 10px;
}

.menu-wrapper h2 {
    font-family: 'Lilita One';
    line-height: 1em;
    text-transform: uppercase;
    color: #f09;
    font-size: 36px;
}

a.dino span {
    font-size: 36px;
}

.fa-envelope {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: all 250ms ease;
}

.fa-envelope.twist {
    -ms-transform: rotate(360deg) !important;
    -webkit-transform: rotate(360deg) !important;
    transform: rotate(360deg) !important;
    transition: all 250ms ease;
}

/* COLLECTION */

#headerwrap {
    background: url('../img/HEAD.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 0;
    padding-top: 11.64%;
    margin-bottom: 2vw;
}

#headerwrap > div {
    position: relative;
}

#headerwrap > div > h2 {
    position: absolute;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 3vw;
    margin: 0;
    width: 100%;
    left: 0;
    top: -6.5vw;
}


#collections,
#collection-show {
    padding-bottom: 20px;
}

#collections .row,
#collection-show .row {
    margin: 0;
}

#collections .row > div,
.row.gray div > div  {
    text-align: center;
    margin-bottom: 0.5em;
    padding: 0 0.25em;
}

#collections .row > div a {
    display: block;
    position: relative;
}

#collections .row > div span {
    position: absolute;
    top: 80%;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    left: 0;
    padding: 0.6vw;
    font-size: 3vw;
}

/* SHOW */

#collection-show {
    padding: 0px;
    width: 100%;
}

#collection-show .youtube-vid {
    padding: 0;
}

#collection-show h2 {
    text-transform: uppercase;
    color: #f09;
    margin-top: 10px;
    text-align: center;
}

#collection-show p {
    font-size: 18px;
    text-align: justify;
    padding: 5px;
}

.owl-carousel {
    width: 94% !important;
}

.owl-item {
    overflow: hidden;
}

.owl-item .item {
    height: inherit;
}

.owl-carousel .owl-item .item img {
    width: auto;
    cursor: pointer;
    min-width: 100%;
    max-height: 150%;
}

.owl-controls {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 6%;
}

.owl-controls div {
    height: inherit;
}

.owl-prev {
    display: none !important;
}

.owl-next {
    background: url('../img/REBEL/more.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.row.gray {
    background: #CDCDCD;
    margin: 0;
    margin-top: 15px;
    text-align: center;
    padding-bottom: 20px;
}

.gray h3 {
    color: #06c;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.row.gray div > div a {
    display: block;
    position: relative;
}

.row.gray div > div span {
    position: absolute;
    top: 80%;
    text-transform: uppercase;
    color: #fff;
    width: 100%;
    left: 0;
    padding: 0.6vw;
    font-size: 3vw;
}

.modal-dialog {
    text-align: center;
    width: 100%;
    margin: 0;
    height: 100%
}

.modal-content {
    background: none;
    box-shadow: none;
    border: none;
    border-radius: 0;
    height: 100%;
}

.modal-body {
    padding: 0;
    height: 100%;
    position: relative;
}

.modal-body img.imagepreview {
    max-height: 50vh;
    width: auto;
    display: block;
    margin: auto;
    max-width: 100%;
    padding-top: 5vh;
}

.modal-body .thumbwrap {
    margin: 10px 0;
    position: absolute;
    width: 100%;
    bottom: 20vh;
}

.modal-body .thumbdiv {
    display: inline-block;
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: relative;
    max-width: 13vw;
    max-height: 13vw;
}

.modal-body img.thumbs {
    height: 220px;
    width: auto;
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    cursor: pointer;
    min-width: 100%;
    max-height: 150%;
}

.modal-backdrop.in {
    filter: alpha(opacity=80);
    opacity: 0.8;
}

/* MEDIA START */

@media (min-width: 768px) {
    #headerwrap > div > h2{
        top: -5vw;
    }

    #collections .row > div,
    #collection-show .youtube-vid {
        padding: 0 15px;
    }

    #collections img,
    .gray img {
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;    
    }

    #collections img:hover,
    .gray img:hover {
        filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
        filter: gray;
        -webkit-filter: grayscale(100%);
    }

    #collection-show {
        padding: 20px;
    }

    #collection-show h2 {
        text-align: initial;
        margin-top: 0;
        font-size: 37px;
    }

    .owl-carousel {
        width: 92% !important;
    }

    .owl-item {
        border: 3px solid transparent;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .owl-item:hover {
        border: 3px solid #f09;
    }

    .owl-controls {
        right: -3%
    }

    img.imagepreview {
        height: 350px;
    }

    .modal-body .thumbwrap {
        margin-top: 40px;
    }

    .modal-body .thumbdiv {
        border: 3px solid transparent;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .modal-body .thumbdiv:hover {
        border: 3px solid #f09;
    }
}

@media (min-width: 992px) {
    #collections .row > div span {
        font-size: 1.5em;
    }

    #collection-show > .row {
        display: flex;
    }

    #collection-show .row:last-child > div {
        position: relative;
    }

    #collection-show p {
        font-size: 15px;
    }

    .owl-carousel {
        position: absolute !important;
        bottom: 0;
    }

    .row.gray div > div span {
        font-size: 0.8em;
        padding: 0.3vw 0;
    }
}

@media (min-width: 1200px) {
	#desktop-menu {
		display: block;
	}

    #collections .row > div span {
        font-size: 2em;
    }

    #collection-show p {
        font-size: 18px;
    }

    .row.gray div > div span {
        font-size: 1.3em;
        padding: 0;
    }
}